/* Responsive design Media Queries */
@media (max-width: 899px) {
    #app-container {
        width: 100%;
        height: 100%;
    }
    #messageInp {
        width: 75vw;
    }
}

@media (min-width: 900px) {
    #app-container {
        width: 70%;
        height: 90%;
        border-radius: 1em;
        box-shadow: 0 0 1em #7773;
    }
    header {
        border-radius: 1em 1em 0 0;
    }
    #bottom-bar {
        border-radius: 0 0 1em 1em;
    }
    #messageInp {
        width: 55vw;
    }
}

/* Layout */

body, html {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
}

#app-container {
    background-color: #f8f8f8;
}

header {
    width: 100%;
    height: 10%;
    background-color: #ebebeb;
}

#messages-area {
    width: 100%;
    height: 78%;
    overflow: auto;
    padding: 1em 2em;
}

#bottom-bar {
    width: 100%;
    height: 12%;
    background-color: #324e7b;
}

/* Text Input styles */

#messageInp {
    border: none;
    outline: none;
    height: 2.7em;
    color: #ebebeb;
    padding: 0 1.5em;
    font-weight: 500;
    border-radius: 1.5em;
    background-color: #2d4469;
}

#messageInp::placeholder {
    color: #86a6df;
    font-weight: 500;
}

#send-button {
    border: 0;
    outline: 0;
    font-size: 2em;
    color: #86a6df;
    background-color: transparent;
}

#send-button:hover {
    color: #3a69b6;
    cursor: pointer;
    transition: color 0.15s;
}

/* Chat Bubble styles */

.message {
    max-width: 75%;
    margin-top: 1em;
    color: #ebebeb;
    border-radius: 3em;
    padding: 0.8em 1.5em;
}

.left {
    float: left;
    clear: both;
    border-top-left-radius: 0;
    background-color: #5068a9;
}

.right {
    float: right;
    clear: both;
    border-top-right-radius: 0;
    background-color: #86a6df;
}
